
<section class="alternate">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp m-0" data-wow-delay="0.3s">LOGIN</h2>
            <div>
                Username:
                <input type="text" name="login-info[user]" id="user" class="login-info">
            </div>
            <br>
            <div>
                Password:
                <input type="password" name="login-info[password]" id="password" class="login-info"> 
            </div>
            <div class="mt-30">
                <a class="btn btn-default btn-lg mr-40 ml-40" href="quoteform">sign up &nbsp; <i class="fa fa-angle-right"></i></a>
                <a class="btn btn-info btn-lg" href="quoteform">log in &nbsp; <i class="fa fa-angle-right"></i></a>		
            </div>
        </div>
    </div>
</section>
